{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Signup</h2>
        <p><a class="btn btn-default" href="/signup">Signup</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p><a class="btn btn-default" href="/login">Login</a></p>
    </div>
    <div class="col-md-4">
        <h2>Match</h2>
        <p><a class="btn btn-default" href="/match">Match</a></p>
    </div>
</div>

Profiles:

<table>
    {% for pr in profiles %}
    <tr>
        <td>{{pr['id']}}</td>
        <td><a href="/profile/{{pr['id']}}">{{pr['email']}}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
